/* Style sheet used by Java FX representations
 */

/* LEDRepresentation */
.led
{
    -fx-stroke-width: 2;
    -fx-stroke-type: inside;
    -fx-stroke: linear-gradient(to bottom right, #808080, #f0f0f0);
}

/* AutocompleteMenu: menu items */
.ac-menu-item
{
}

.ac-menu-label /* result provider labels (e.g. "History") */
{
    -fx-font-weight:bold;
}

/* Default button padding in modena.css:
 * .button
 * {
 *  -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; (top right bottom left)
 * }
 * Compared to BOY, this reduces many button "labels" to "lab...".
 * Since button labels are centered anyway,
 * setting the left and right padding to 0em makes no visual
 * difference for shorter labels, while at the same time allowing
 * for labels that are as wide as the button.
 */
.action_button
{
   -fx-padding: 0.333333em 0em 0.333333em 0em;
}
