/* Style sheet used by Java FX representations
 */

/** Temporarily assigned to nodes to have them stand out during development */
.debug
{
    -fx-background-color: rgb(255, 100, 0, 1.0);
}

/* LEDRepresentation */
.led
{
    -fx-stroke-width: 2;
    -fx-stroke-type: inside;
    -fx-stroke: linear-gradient(to bottom right, #808080, #f0f0f0);
}

/** Tracker (ROI) */
.tracker
{
    -fx-stroke-width: 1;
    -fx-fill: rgb(0, 0, 255, 0.05);
    -fx-stroke: blue;
    -fx-stroke-dash-array: 5.0, 5.0;
    -fx-effect: dropshadow(one-pass-box, black, 10, 0, 0, 0);
}

.tracker_handle
{
    -fx-stroke-width: 1;
    -fx-fill: rgb(0, 0, 255, 0.2);
    -fx-stroke: blue;
    -fx-arc-width: 10;
    -fx-arc-height: 10;
}