/* Style sheet used by Java FX representations
 */

/** Temporarily assigned to nodes to have them stand out during development */
.debug
{
    -fx-background-color: rgb(255, 100, 0, 1.0);
}

/* LEDRepresentation */
.led
{
    -fx-stroke-width: 2;
    -fx-stroke-type: inside;
    -fx-stroke: linear-gradient(to bottom right, #808080, #f0f0f0);
}