target/
build/build/
build/cachedir/
org.csstudio.display.builder.runtime.test/cachedir/
build.log
*.class

# Ignore generated Javadoc
org.csstudio.display.builder.editor.rcp/doc/java/

# Ignore files created by IDE on Maven import
.project
.settings
# Ignore generated .classpath, except for those plugins that use FXCanvas
# or JavaFX and we want to allow access to them,
# while the Eclipse-generated .classpath will prohibit it
.classpath
!databrowser3/databrowser-plugins/org.csstudio.trends.databrowser3/.classpath
!org.csstudio.display.builder.editor/.classpath
!org.csstudio.display.builder.editor.rcp/.classpath
!org.csstudio.display.builder.rcp/.classpath
!org.csstudio.display.builder.representation.javafx/.classpath
!org.csstudio.display.builder.representation.test/.classpath
!org.csstudio.javafx/.classpath
!org.csstudio.javafx.rtplot/.classpath
