<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.csstudio.display.builder.representation.widgets">
         <!--
      <representation
            class="org.csstudio.display.builder.representation.javafx.widgets.ActionButtonRepresentation"
            type="action_button">
      </representation>
      <representation
            class="org.csstudio.display.builder.representation.javafx.widgets.EmbeddedDisplayRepresentation"
            type="embedded">
      </representation>
      <representation
            class="org.csstudio.display.builder.representation.javafx.widgets.GroupRepresentation"
            type="group">
      </representation>
      -->
      <representation
            class="org.csstudio.display.builder.representation.javafx.widgets.LabelRepresentationFactory"
            type="label">
      </representation>
      <!--
      <representation
            class="org.csstudio.display.builder.representation.javafx.widgets.LEDRepresentation"
            type="led">
      </representation>
      <representation
            class="org.csstudio.display.builder.representation.javafx.widgets.ProgressBarRepresentation"
            type="progressbar">
      </representation>
      <representation
            class="org.csstudio.display.builder.representation.javafx.widgets.RectangleRepresentation"
            type="rectangle">
      </representation>
      <representation
            class="org.csstudio.display.builder.representation.javafx.widgets.TextEntryRepresentation"
            type="textentry">
      </representation>
      <representation
            class="org.csstudio.display.builder.representation.javafx.widgets.TextUpdateRepresentation"
            type="textupdate">
      </representation>
      <representation
            class="org.csstudio.display.builder.representation.javafx.widgets.plots.ImageRepresentation"
            type="image">
      </representation>
      <representation
            class="org.csstudio.display.builder.representation.javafx.widgets.plots.XYPlotRepresentation"
            type="xyplot">
      </representation>
      -->
   </extension>

</plugin>
