<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.csstudio.display.builder.representation.widgets">
      <representation
            class="org.csstudio.display.builder.representation.javafx.widgets.ActionButtonRepresentation"
            type="action_button">
      </representation>
      <representation
            class="org.csstudio.display.builder.representation.javafx.widgets.ArcRepresentation"
            type="arc">
      </representation>
      <representation
            class="org.csstudio.display.builder.representation.javafx.widgets.ArrayRepresentation"
            type="array">
      </representation>
      <representation
            class="org.csstudio.display.builder.representation.javafx.widgets.BoolButtonRepresentation"
            type="bool_button">
      </representation>
      <representation
            class="org.csstudio.display.builder.representation.javafx.widgets.ByteMonitorRepresentation"
            type="byte_monitor">
      </representation>
      <representation
            class="org.csstudio.display.builder.representation.javafx.widgets.CheckBoxRepresentation"
            type="checkbox">
      </representation>
      <representation
            class="org.csstudio.display.builder.representation.javafx.widgets.EllipseRepresentation"
            type="ellipse">
      </representation>
      <representation
            class="org.csstudio.display.builder.representation.javafx.widgets.EmbeddedDisplayRepresentation"
            type="embedded">
      </representation>
      <representation
            class="org.csstudio.display.builder.representation.javafx.widgets.GroupRepresentation"
            type="group">
      </representation>
      <representation
            class="org.csstudio.display.builder.representation.javafx.widgets.LabelRepresentation"
            type="label">
      </representation>
      <representation
            class="org.csstudio.display.builder.representation.javafx.widgets.LEDRepresentation"
            type="led">
      </representation>
      <representation
            class="org.csstudio.display.builder.representation.javafx.widgets.MultiStateLEDRepresentation"
            type="multi_state_led">
      </representation>
      <representation
            class="org.csstudio.display.builder.representation.javafx.widgets.PictureRepresentation"
            type="picture">
      </representation>
      <representation
            class="org.csstudio.display.builder.representation.javafx.widgets.PolygonRepresentation"
            type="polygon">
      </representation>
      <representation
            class="org.csstudio.display.builder.representation.javafx.widgets.PolylineRepresentation"
            type="polyline">
      </representation>
      <representation
            class="org.csstudio.display.builder.representation.javafx.widgets.ProgressBarRepresentation"
            type="progressbar">
      </representation>
      <representation
            class="org.csstudio.display.builder.representation.javafx.widgets.RadioRepresentation"
            type="radio">
      </representation>
      <representation
            class="org.csstudio.display.builder.representation.javafx.widgets.RectangleRepresentation"
            type="rectangle">
      </representation>
      <representation
            class="org.csstudio.display.builder.representation.javafx.widgets.SpinnerRepresentation"
            type="spinner">
      </representation>
      <representation
            class="org.csstudio.display.builder.representation.javafx.widgets.TableRepresentation"
            type="table">
      </representation>
      <representation
            class="org.csstudio.display.builder.representation.javafx.widgets.TabsRepresentation"
            type="tab">
      </representation>
      <representation
            class="org.csstudio.display.builder.representation.javafx.widgets.TextEntryRepresentation"
            type="textentry">
      </representation>
      <representation
            class="org.csstudio.display.builder.representation.javafx.widgets.TextUpdateRepresentation"
            type="textupdate">
      </representation>
      <representation
            class="org.csstudio.display.builder.representation.javafx.widgets.ThermometerRepresentation"
            type="thermometer">
      </representation>
      <representation
            class="org.csstudio.display.builder.representation.javafx.widgets.plots.ImageRepresentation"
            type="image">
      </representation>
      <representation
            class="org.csstudio.display.builder.representation.javafx.widgets.WebBrowserRepresentation"
            type="webbrowser">
      </representation>
      <representation
            class="org.csstudio.display.builder.representation.javafx.widgets.plots.XYPlotRepresentation"
            type="xyplot">
      </representation>
      <representation
            class="org.csstudio.display.builder.representation.javafx.widgets.ScaledSliderRepresentation"
            type="scaledslider">
      </representation>
      <representation
            class="org.csstudio.display.builder.representation.javafx.widgets.ScrollBarRepresentation"
            type="scrollbar">
      </representation>
      <representation
            class="org.csstudio.display.builder.representation.javafx.widgets.ComboRepresentation"
            type="combo">
      </representation>
   </extension>
</plugin>
