/*
 * ToggleSwitch
 */
.root {
	-toggle-switch-off: #f5f5f5;
	-toggle-switch-on: #0b99c9;
}

.toggle-switch .thumb-area{
    -fx-background-radius: 1em;
    -fx-background-color: linear-gradient(
			to bottom,
			derive(-fx-text-box-border, -20%),
			derive(-fx-text-box-border, -30%)
		),
		-toggle-switch-off;
    -fx-background-insets: 0, 1;
}

.toggle-switch:selected .thumb-area{
    -fx-background-color: linear-gradient(
			to bottom,
			derive(-fx-text-box-border, -20%),
			derive(-fx-text-box-border, -30%)
		),
		linear-gradient(
			to bottom,
			derive(-toggle-switch-on, 30%),
			-toggle-switch-on
		);
    -fx-background-insets: 0, 1;

}

.toggle-switch .thumb-area
{
    -fx-padding: 0.75em 1.416661em 0.75em 1.416661em; /* 7 17 7 17 */
}

