<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="widgets" name="Display Builder Widget Model" schema="schema/widgets.exsd"/>
   <extension
         point="org.csstudio.display.builder.model.widgets">
      <widget
            category="CONTROL"
            class="org.csstudio.display.builder.model.widgets.ActionButtonWidget"
            description="%ActionButtonWidget_Description"
            icon="platform:/plugin/org.csstudio.display.builder.model/icons/action_button.png"
            name="%ActionButtonWidget_Name"
            type="action_button">
         <alternates
               type="org.csstudio.opibuilder.widgets.ActionButton">
         </alternates>
         <alternates
               type="org.csstudio.opibuilder.widgets.MenuButton">
         </alternates>
         <alternates
               type="org.csstudio.opibuilder.widgets.NativeButton">
         </alternates>
      </widget>
      <widget
            category="GRAPHIC"
            class="org.csstudio.display.builder.model.widgets.ArcWidget"
            description="%ArcWidget_Description"
            icon="platform:/plugin/org.csstudio.display.builder.model/icons/arc.png"
            name="%ArcWidget_Name"
            type="arc">
         <alternates
               type="org.csstudio.opibuilder.widgets.arc">
         </alternates>
      </widget>
      <widget
            category="STRUCTURE"
            class="org.csstudio.display.builder.model.widgets.ArrayWidget"
            description="%ArrayWidget_Description"
            icon="platform:/plugin/org.csstudio.display.builder.model/icons/array.gif"
            name="%ArrayWidget_Name"
            type="array">
         <alternates
               type="org.csstudio.opibuilder.widgets.array">
         </alternates>
      </widget>
      <widget
            category="CONTROL"
            class="org.csstudio.display.builder.model.widgets.BoolButtonWidget"
            description="%BoolButtonWidget_Description"
            icon="platform:/plugin/org.csstudio.display.builder.model/icons/bool_button.gif"
            name="%BoolButtonWidget_Name"
            type="bool_button">
         <alternates
               type="org.csstudio.opibuilder.widgets.BoolButton">
         </alternates>
         <alternates
               type="org.csstudio.opibuilder.widgets.ImageBoolButton">
         </alternates>
         <alternates
               type="org.csstudio.opibuilder.widgets.BoolSwitch">
         </alternates>
      </widget>
      <widget
            category="MONITOR"
            class="org.csstudio.display.builder.model.widgets.ByteMonitorWidget"
            description="%ByteMonitorWidget_Description"
            icon="platform:/plugin/org.csstudio.display.builder.model/icons/byte_monitor.png"
            name="%ByteMonitorWidget_Name"
            type="byte_monitor">
         <alternates
               type="org.csstudio.opibuilder.widgets.bytemonitor">
         </alternates>
      </widget>
      <widget
            category="CONTROL"
            class="org.csstudio.display.builder.model.widgets.CheckBoxWidget"
            description="%CheckBoxWidget_Description"
            icon="platform:/plugin/org.csstudio.display.builder.model/icons/checkbox.gif"
            name="%CheckBoxWidget_Name"
            type="checkbox">
         <alternates
               type="org.csstudio.opibuilder.widgets.checkbox">
         </alternates>
      </widget>
      <widget
            category="MISC"
            class="org.csstudio.display.builder.model.widgets.ClockWidget"
            description="%ClockWidget_Description"
            icon="platform:/plugin/org.csstudio.display.builder.model/icons/clock.png"
            name="%ClockWidget_Name"
            type="clock">
      </widget>
      <widget
            category="CONTROL"
            class="org.csstudio.display.builder.model.widgets.ComboWidget"
            description="%ComboWidget_Description"
            icon="platform:/plugin/org.csstudio.display.builder.model/icons/combo.gif"
            name="%ComboWidget_Name"
            type="combo">
         <alternates
               type="org.csstudio.opibuilder.widgets.MenuButton">
         </alternates>
         <alternates
               type="org.csstudio.opibuilder.widgets.combo">
         </alternates>
      </widget>
      <widget
            category="MISC"
            class="org.csstudio.display.builder.model.widgets.DigitalClockWidget"
            description="%DigitalClockWidget_Description"
            icon="platform:/plugin/org.csstudio.display.builder.model/icons/digital-clock.png"
            name="%DigitalClockWidget_Name"
            type="digital_clock">
      </widget>
      <widget
            category="GRAPHIC"
            class="org.csstudio.display.builder.model.widgets.EllipseWidget"
            description="%EllipseWidget_Description"
            icon="platform:/plugin/org.csstudio.display.builder.model/icons/ellipse.png"
            name="%EllipseWidget_Name"
            type="ellipse">
         <alternates
               type="org.csstudio.opibuilder.widgets.Ellipse">
         </alternates>
      </widget>
      <widget
            category="STRUCTURE"
            class="org.csstudio.display.builder.model.widgets.EmbeddedDisplayWidget"
            description="%EmbeddedDisplayWidget_Description"
            icon="platform:/plugin/org.csstudio.display.builder.model/icons/embedded.png"
            name="%EmbeddedDisplayWidget_Name"
            type="embedded">
         <alternates
               type="org.csstudio.opibuilder.widgets.linkingContainer">
         </alternates>
      </widget>
      <widget
            category="MONITOR"
            class="org.csstudio.display.builder.model.widgets.GaugeWidget"
            description="%GaugeWidget_Description"
            icon="platform:/plugin/org.csstudio.display.builder.model/icons/gauge.png"
            name="%GaugeWidget_Name"
            type="gauge">
         <alternates
               type="org.csstudio.opibuilder.widgets.gauge">
         </alternates>
      </widget>
      <widget
            category="STRUCTURE"
            class="org.csstudio.display.builder.model.widgets.GroupWidget"
            description="%GroupWidget_Description"
            icon="platform:/plugin/org.csstudio.display.builder.model/icons/group.png"
            name="%GroupWidget_Name"
            type="group">
         <alternates
               type="org.csstudio.opibuilder.widgets.groupingContainer">
         </alternates>
      </widget>
      <widget
            category="PLOT"
            class="org.csstudio.display.builder.model.widgets.plots.ImageWidget"
            description="%ImageWidget_Description"
            icon="platform:/plugin/org.csstudio.display.builder.model/icons/image.png"
            name="%ImageWidget_Name"
            type="image">
         <alternates
               type="org.csstudio.opibuilder.widgets.intensityGraph">
         </alternates>
      </widget>
      <widget
            category="GRAPHIC"
            class="org.csstudio.display.builder.model.widgets.LabelWidget"
            description="%LabelWidget_Description"
            icon="platform:/plugin/org.csstudio.display.builder.model/icons/label.png"
            name="%LabelWidget_Name"
            type="label">
         <alternates
               type="org.csstudio.opibuilder.widgets.Label">
         </alternates>
      </widget>
      <widget
            category="MONITOR"
            class="org.csstudio.display.builder.model.widgets.LEDWidget"
            description="%LEDWidget_Description"
            icon="platform:/plugin/org.csstudio.display.builder.model/icons/led.png"
            name="%LEDWidget_Name"
            type="led">
         <alternates
               type="org.csstudio.opibuilder.widgets.LED">
         </alternates>
      </widget>
      <widget
            category="MONITOR"
            class="org.csstudio.display.builder.model.widgets.LinearMeterWidget"
            description="%LinearMeterWidget_Description"
            icon="platform:/plugin/org.csstudio.display.builder.model/icons/linear-meter.png"
            name="%LinearMeterWidget_Name"
            type="linear-meter">
      </widget>
      <widget
            category="MONITOR"
            class="org.csstudio.display.builder.model.widgets.MeterWidget"
            description="%MeterWidget_Description"
            icon="platform:/plugin/org.csstudio.display.builder.model/icons/meter.png"
            name="%MeterWidget_Name"
            type="meter">
         <alternates
               type="org.csstudio.opibuilder.widgets.meter">
         </alternates>
      </widget>
      <widget
            category="MONITOR"
            class="org.csstudio.display.builder.model.widgets.MultiStateLEDWidget"
            description="%MultiStateLEDWidget_Description"
            icon="platform:/plugin/org.csstudio.display.builder.model/icons/led.png"
            name="%MultiStateLEDWidget_Name"
            type="multi_state_led">
         <alternates
               type="org.csstudio.opibuilder.widgets.LED">
         </alternates>
      </widget>
      <widget
            category="STRUCTURE"
            class="org.csstudio.display.builder.model.widgets.NavigationTabsWidget"
            description="%NavigationTabsWidget_Description"
            icon="platform:/plugin/org.csstudio.display.builder.model/icons/navtabs.png"
            name="%NavigationTabsWidget_Name"
            type="navtabs">
      </widget>
      <widget
            category="GRAPHIC"
            class="org.csstudio.display.builder.model.widgets.PictureWidget"
            description="%PictureWidget_Description"
            icon="platform:/plugin/org.csstudio.display.builder.model/icons/picture.png"
            name="%PictureWidget_Name"
            type="picture">
         <alternates
               type="org.csstudio.opibuilder.widgets.Image">
         </alternates>
      </widget>
      <widget
            category="GRAPHIC"
            class="org.csstudio.display.builder.model.widgets.PolygonWidget"
            description="%PolygonWidget_Description"
            icon="platform:/plugin/org.csstudio.display.builder.model/icons/polygon.png"
            name="%PolygonWidget_Name"
            type="polygon">
         <alternates
               type="org.csstudio.opibuilder.widgets.polygon">
         </alternates>
      </widget>
      <widget
            category="GRAPHIC"
            class="org.csstudio.display.builder.model.widgets.PolylineWidget"
            description="%PolylineWidget_Description"
            icon="platform:/plugin/org.csstudio.display.builder.model/icons/polyline.png"
            name="%PolylineWidget_Name"
            type="polyline">
         <alternates
               type="org.csstudio.opibuilder.widgets.polyline">
         </alternates>
      </widget>
      <widget
            category="MONITOR"
            class="org.csstudio.display.builder.model.widgets.ProgressBarWidget"
            description="%ProgressBar_Description"
            icon="platform:/plugin/org.csstudio.display.builder.model/icons/progressbar.png"
            name="%ProgressBar_Name"
            type="progressbar">
         <alternates
               type="org.csstudio.opibuilder.widgets.progressbar">
         </alternates>
      </widget>
      <widget
            category="CONTROL"
            class="org.csstudio.display.builder.model.widgets.RadioWidget"
            description="%RadioWidget_Description"
            icon="platform:/plugin/org.csstudio.display.builder.model/icons/radiobutton.gif"
            name="%RadioWidget_Name"
            type="radio">
         <alternates
               type="org.csstudio.opibuilder.widgets.radioBox">
         </alternates>
         <alternates
               type="org.csstudio.opibuilder.widgets.choiceButton">
         </alternates>
      </widget>
      <widget
            category="GRAPHIC"
            class="org.csstudio.display.builder.model.widgets.RectangleWidget"
            description="%RectangleWidget_Description"
            icon="platform:/plugin/org.csstudio.display.builder.model/icons/rectangle.png"
            name="%RectangleWidget_Name"
            type="rectangle">
         <alternates
               type="org.csstudio.opibuilder.widgets.Rectangle">
         </alternates>
         <alternates
               type="org.csstudio.opibuilder.widgets.RoundedRectangle">
         </alternates>
      </widget>
      <widget
            category="CONTROL"
            class="org.csstudio.display.builder.model.widgets.ScaledSliderWidget"
            description="%ScaledSliderWidget_Description"
            icon="platform:/plugin/org.csstudio.display.builder.model/icons/scaled_slider.gif"
            name="%ScaledSliderWidget_Name"
            type="scaledslider">
         <alternates
               type="org.csstudio.opibuilder.widgets.scaledslider">
         </alternates>
      </widget>
      <widget
            category="CONTROL"
            class="org.csstudio.display.builder.model.widgets.ScrollBarWidget"
            description="%ScrollBarWidget_Description"
            icon="platform:/plugin/org.csstudio.display.builder.model/icons/scrollbar.png"
            name="%ScrollBarWidget_Name"
            type="scrollbar">
         <alternates
               type="org.csstudio.opibuilder.widgets.scrollbar">
         </alternates>
      </widget>
      <widget
            category="CONTROL"
            class="org.csstudio.display.builder.model.widgets.SpinnerWidget"
            description="%SpinnerWidget_Description"
            icon="platform:/plugin/org.csstudio.display.builder.model/icons/Spinner.gif"
            name="%SpinnerWidget_Name"
            type="spinner">
         <alternates
               type="org.csstudio.opibuilder.widgets.spinner">
         </alternates>
      </widget>
      <widget
            category="MONITOR"
            class="org.csstudio.display.builder.model.widgets.SymbolWidget"
            description="%SymbolWidget_Description"
            icon="platform:/plugin/org.csstudio.display.builder.model/icons/symbol.png"
            name="%SymbolWidget_Name"
            type="symbol">
         <alternates
               type="org.csstudio.opibuilder.widgets.symbol.bool.BoolControlWidget">
         </alternates>
         <alternates
               type="org.csstudio.opibuilder.widgets.symbol.multistate.MultistateControlWidget">
         </alternates>
      </widget>
      <widget
            category="MONITOR"
            class="org.csstudio.display.builder.model.widgets.TableWidget"
            description="%TableWidget_Description"
            icon="platform:/plugin/org.csstudio.display.builder.model/icons/table.gif"
            name="%TableWidget_Name"
            type="table">
         <alternates
               type="org.csstudio.opibuilder.widgets.table">
         </alternates>
      </widget>
      <widget
            category="STRUCTURE"
            class="org.csstudio.display.builder.model.widgets.TabsWidget"
            description="%TabsWidget_Description"
            icon="platform:/plugin/org.csstudio.display.builder.model/icons/tabs.png"
            name="%TabsWidget_Name"
            type="tabs">
         <alternates
               type="org.csstudio.opibuilder.widgets.tab">
         </alternates>
      </widget>
      <widget
            category="MONITOR"
            class="org.csstudio.display.builder.model.widgets.TankWidget"
            description="%TankWidget_Description"
            icon="platform:/plugin/org.csstudio.display.builder.model/icons/tank.png"
            name="%TankWidget_Name"
            type="tank">
         <alternates
               type="org.csstudio.opibuilder.widgets.tank">
         </alternates>
      </widget>
      <widget
            category="CONTROL"
            class="org.csstudio.display.builder.model.widgets.TextEntryWidget"
            description="%TextEntryWidget_Description"
            icon="platform:/plugin/org.csstudio.display.builder.model/icons/textentry.png"
            name="%TextEntryWidget_Name"
            type="textentry">
         <alternates
               type="org.csstudio.opibuilder.widgets.TextInput">
         </alternates>
         <alternates
               type="org.csstudio.opibuilder.widgets.NativeText">
         </alternates>
      </widget>
      <widget
            category="MONITOR"
            class="org.csstudio.display.builder.model.widgets.TextUpdateWidget"
            description="%TextUpdateWidget_Description"
            icon="platform:/plugin/org.csstudio.display.builder.model/icons/textupdate.png"
            name="%TextUpdateWidget_Name"
            type="textupdate">
         <alternates
               type="org.csstudio.opibuilder.widgets.TextUpdate">
         </alternates>
      </widget>
      <widget
            category="MONITOR"
            class="org.csstudio.display.builder.model.widgets.ThermometerWidget"
            description="%ThermometerWidget_Description"
            icon="platform:/plugin/org.csstudio.display.builder.model/icons/Thermo.gif"
            name="%ThermometerWidgetWidget_Name"
            type="thermometer">
         <alternates
               type="org.csstudio.opibuilder.widgets.thermometer">
         </alternates>
      </widget>
      <widget
            category="MISC"
            class="org.csstudio.display.builder.model.widgets.WebBrowserWidget"
            description="%WebBrowserWidget_Description"
            icon="platform:/plugin/org.csstudio.display.builder.model/icons/web_browser.png"
            name="%WebBrowserWidget_Name"
            type="webbrowser">
         <alternates
               type="org.csstudio.opibuilder.widgets.webbrowser">
         </alternates>
      </widget>
      <widget
            category="PLOT"
            class="org.csstudio.display.builder.model.widgets.plots.XYPlotWidget"
            description="%XYPlotWidget_Description"
            icon="platform:/plugin/org.csstudio.display.builder.model/icons/xyplot.png"
            name="%XYPlotWidget_Name"
            type="xyplot">
         <alternates
               type="org.csstudio.opibuilder.widgets.xyGraph">
         </alternates>
      </widget>
   </extension>

</plugin>
