<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="widgets" name="Display Builder Widget Model" schema="schema/widgets.exsd"/>
   <extension
         point="org.csstudio.display.builder.model.widgets">
      <widget
            category="GRAPHIC"
            class="org.csstudio.display.builder.model.widgets.LabelWidget"
            description="%LabelDescription"
            icon="platform:/plugin/org.csstudio.display.builder.model/icons/label.png"
            name="%Label"
            type="label">
         <alternates
               type="org.csstudio.opibuilder.widgets.Label">
         </alternates>
      </widget>
   </extension>

</plugin>
