<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.csstudio.display.builder.rcp.RuntimeViewPart"
            icon="platform:/plugin/org.csstudio.display.builder.model/icons/runtime.png"
            id="org.csstudio.display.builder.rcp.run.RuntimeViewPart"
            name="%Runtime"
            restorable="true">
      </view>
      <view
            class="org.csstudio.display.builder.rcp.run.PlaceHolderView"
            icon="platform:/plugin/org.csstudio.display.builder.model/icons/runtime.png"
            id="org.csstudio.display.builder.rcp.run.placeHolder"
            name="%Runtime"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.csstudio.display.builder.rcp.top.ToolbarTopDisplaysHandler"
            id="ToolbarTopDisplays"
            name="%TopDisplays">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:file?after=new.ext">
         <dynamic
               class="org.csstudio.display.builder.rcp.top.TopDisplaysMenu"
               id="org.csstudio.display.builder.rcp.menu.displays">
         </dynamic>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.csstudio.display.builder.rcp.runtime_toolbar">
            <command
                  commandId="ToolbarTopDisplays"
                  icon="platform:/plugin/org.csstudio.display.builder.model/icons/runtime.png"
                  style="pulldown">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            class="org.csstudio.display.builder.rcp.top.TopDisplaysToolbarItems"
            locationURI="menu:ToolbarTopDisplays">
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.csstudio.platform.ui.css.applications.display"
            class="org.csstudio.display.builder.rcp.preferences.DisplayPreferencePage"
            id="org.csstudio.display.builder.rcp.preferences.page"
            name="%PreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            default="false"
            extensions="bob"
            icon="platform:/plugin/org.csstudio.display.builder.model/icons/runtime.png"
            id="org.csstudio.display.builder.rcp.RuntimeLauncher"
            launcher="org.csstudio.display.builder.rcp.run.RuntimeLauncher"
            name="%Runtime">
      </editor>
      <editor
            default="false"
            extensions="opi"
            icon="platform:/plugin/org.csstudio.display.builder.model/icons/runtime.png"
            id="org.csstudio.display.builder.rcp.RuntimeLauncher"
            launcher="org.csstudio.display.builder.rcp.run.RuntimeLauncher"
            name="%Runtime">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.csstudio.display.builder.rcp.RuntimePerspective"
            icon="platform:/plugin/org.csstudio.display.builder.model/icons/display.png"
            id="org.csstudio.display.builder.rcp.runtimeperspective"
            name="%Runtime">
      </perspective>
   </extension>
   <extension
         point="org.csstudio.display.builder.model.widgets">
      <widget
            category="CONTROL"
            class="org.csstudio.display.builder.rcp.widgets.FileSelectorWidget"
            description="%FileSelector_Description"
            icon="platform:/plugin/org.csstudio.display.builder.rcp/icons/open_file.png"
            name="%FileSelector"
            type="fileselector">
      </widget>
   </extension>
   <extension
         point="org.csstudio.display.builder.representation.widgets">
      <representation
            class="org.csstudio.display.builder.rcp.widgets.FileSelectorRepresentation"
            type="fileselector">
      </representation>
   </extension>
   <extension
         id="runtime"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            icon="icons/open_file.png"
            thread="main"
            visible="true">
         <run
               class="org.csstudio.display.builder.rcp.RuntimeApplication">
         </run>
      </application>
   </extension>
   <extension
         id="runtime"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.csstudio.display.builder.rcp.runtime"
            name="DisplayRuntime">
         <property
               name="appName"
               value="DisplayRuntime">
         </property>
      </product>
   </extension>
   <extension
         point="org.csstudio.openfile.openDisplay">
      <openDisplay
            class="org.csstudio.display.builder.rcp.OpenDisplayFile"
            default="true"
            file_extension="bob">
      </openDisplay>
      <openDisplay
            class="org.csstudio.display.builder.rcp.OpenDisplayFile"
            default="false"
            file_extension="opi">
      </openDisplay>
   </extension>
</plugin>
