<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <e4view
            allowMultiple="true"
            class="org.csstudio.display.builder.rcp.run.RuntimeViewPart"
            icon="icons/display.png"
            id="org.csstudio.display.builder.rcp.run.RuntimeViewPart"
            name="%RuntimeView"
            restorable="true">
      </e4view>
   </extension>

</plugin>
