<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="%RuntimeView"
            icon="icons/display.png"
            class="org.csstudio.display.builder.rcp.run.RuntimeViewPart"
            restorable="true"
            id="org.csstudio.display.builder.rcp.run.RuntimeViewPart">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:file?after=new.ext">
         <dynamic
               class="org.csstudio.display.builder.rcp.top.TopDisplaysMenu"
               id="org.csstudio.display.builder.rcp.menu.displays">
         </dynamic>
      </menuContribution>
   </extension>
   <extension
         id="org.csstudio.display.builder.rcp.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>

</plugin>
