<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <!-- The same code is used for three editor definitions:
           1) A default editor for the new file format.
           2) A non-default editor for '*.opi' files that allows
              editing (and translating) existing BOY display files.
              When saved, the new extension is proposed.
           3) A default editor for the new class file format,
              using same code but different ID because
              of separate icon and name
        -->
      <editor
            class="org.csstudio.display.builder.editor.rcp.DisplayEditorPart"
            contributorClass="org.csstudio.display.builder.editor.rcp.DisplayEditorToolbarContributor"
            default="true"
            extensions="bob"
            icon="platform:/plugin/org.csstudio.display.builder.model/icons/display.png"
            id="org.csstudio.display.builder.editor.rcp.editor"
            name="%DisplayEditor">
      </editor>
      <editor
            class="org.csstudio.display.builder.editor.rcp.DisplayEditorPart"
            contributorClass="org.csstudio.display.builder.editor.rcp.DisplayEditorToolbarContributor"
            default="false"
            extensions="opi"
            icon="platform:/plugin/org.csstudio.display.builder.model/icons/display.png"
            id="org.csstudio.display.builder.editor.rcp.legacy_editor"
            name="%DisplayEditor">
      </editor>
      <editor
            class="org.csstudio.display.builder.editor.rcp.DisplayEditorPart"
            contributorClass="org.csstudio.display.builder.editor.rcp.DisplayEditorToolbarContributor"
            default="true"
            extensions="bcf"
            icon="platform:/plugin/org.csstudio.display.builder.model/icons/classes.png"
            id="org.csstudio.display.builder.editor.rcp.class_editor"
            name="%ClassEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.csstudio.display.builder"
            name="%DisplayEditor">
      </category>

     <!-- TODO display.builder needs its own perspectives for runtime and editor
               to run without the opibuilder.
               
               The 'finalPerspective' then needs to change into a new
               display.builder.editor perspective
       -->
      <wizard
            category="org.csstudio.display.builder"
            class="org.csstudio.display.builder.editor.rcp.NewDisplayWizard"
            finalPerspective="org.csstudio.opibuilder.opieditor"
            icon="platform:/plugin/org.csstudio.display.builder.model/icons/display.png"
            id="org.csstudio.display.builder.editor.rcp.NewDisplayWizard"
            name="%NewDisplay">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
      <toc
            file="tocChangelog.xml"
            primary="false">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.csstudio.display.builder.editor.rcp.EditorPerspective"
            icon="platform:/plugin/org.csstudio.display.builder.model/icons/display.png"
            id="org.csstudio.display.builder.editor.rcp.perspective"
            name="%DisplayEditor">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="help_contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.csstudio.display.builder.editor.rcp.OpenDisplayInEditor"
            id="org.csstudio.display.builder.editor.rcp.OpenInEditor"
            name="%DisplayEditor">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=display_editor">
         <command
               commandId="org.csstudio.display.builder.editor.rcp.OpenInEditor"
               icon="platform:/plugin/org.csstudio.display.builder.model/icons/display.png"
               label="%OpenInEditor"
               style="push"
               tooltip="Open display in editor">
         </command>
      </menuContribution>
   </extension>

</plugin>
