<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.csstudio.display.builder.editor.rcp.DisplayEditorPart"
            contributorClass="org.csstudio.display.builder.editor.rcp.DisplayEditorToolbarContributor"
            default="true"
            extensions="opi"
            icon="platform:/plugin/org.csstudio.display.builder.model/icons/display.png"
            id="org.csstudio.display.builder.editor.rcp.editor1"
            name="%DisplayEditor">
      </editor>
   </extension>

</plugin>
